@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
/*  */
:root{
  --light-one: #c3caee;
  --light-two: #8695dd;
  --pure-light: #fff;
  --greyish-light: #e9e7e7;
  --light-three: #5e72d2;
  --dark-one: #202f77;
  --dark-two: #162050;
  --dark-three: #0b1028;
  --dark-four: #050814;
  --red-one: #e00303;
}
/*  */
*::before,*::after,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  position: relative;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  background: var(--greyish-light);
  color: var(--dark-three);
  transition: all .5s ease-in-out;
  margin-bottom: 8rem;
}
body.body-toggle{
  background: var(--dark-three);
  color: var(--pure-light);
}
.lightMode, .darkMode{
  font-size: 28px;
  background: var(--dark-three);
  color: var(--light-one);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.darkAndLight{
  display: flex;
  gap: 1rem;
  position: fixed;
  bottom: 4%;
  right: 3%;
}
.lightMode{
  display: none;
}
header{
  margin-bottom: 4rem;
}
.first-header{
  background: var(--pure-light);
  margin-bottom: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline{
  background: var(--red-one);
  padding: 1.2rem 2.4rem;
  color: var(--pure-light);
  font-weight: 500;
  text-transform: uppercase;
}
.headlines-link{
  color: var(--dark-three);
}
/*  */
nav{
  position: relative;
  margin-bottom: 3rem;
  background: var(--pure-light);
  padding: 1.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--red-one);
}
.nav-logo-dark{
  color: var(--dark-three);
}
.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link{
  padding: 1rem 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.9rem;
  text-decoration: none;
  color: var(--dark-two);
  transition: all .6s ease-in-out;
}
.nav-link:hover,.nav-link:active{
  background: var(--red-one);
  color: var(--pure-light);
}
/*  */
.search-keyword-container{
  padding: 0 2rem;
}
/* hamburger */
.hamburger{
  display: none;
}
.burger{
  height: 4px;
  width: 50px;
  background: var(--dark-two);
  margin-bottom: 8px;
  border-radius: 8px;
}
.burger:last-child{
  margin-bottom: 0;
}
/*  */
/*  */
.search-keyword-form{
  display: flex;
  align-items: center;
  gap: .6rem;
}
.search-keyword-box{
  font-size: 1.6rem;
  padding: .5rem 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1.5px var(--dark-two);
}
.search-keyword-box:hover,.search-keyword-box:active{
  border: none;
  outline: none;
  box-shadow: 0 0 0 2.5px var(--light-three);
}

/*  */
/*  */
.three-col-carousel{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2.4rem;
}
.carousel-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  background: var(--pure-light);
}
.carousel-card-image{
  height: 100% !important;
}
.carousel-card-context{
  opacity: .8;
}
